html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-size: 62.5%;
    /* box-sizing: border-box; */
}

body {
    font-size: 1.6rem;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    letter-spacing: 2px;
    text-transform: uppercase;
    /* height: 100%; */
    padding: 100px;
    background: linear-gradient(to bottom, #4b4949, #2e2d2d);
}
.wrapper-cv {
    margin: 0 auto;
    padding: 50px 0;
    max-width: 800px;
    background-color: #17232f;
}
.header-cv {
    display: flex;
}

.header-cv .avatar {
    width: 250px;
    height: 300px;
    object-fit: cover;
}

.header-cv .name-job {
    display: flex;
    flex-grow: 2;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    margin-left: 50px;
    color: white;
}

.name-job h1 {
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.8;
}

.name-job .job {
    font-size: 2.2rem;
    font-weight: 400;
}
/*--------------- body cv---------------- */
.body-cv {
    display: flex;
    line-height: 1.3;
    font-family: "Roboto", sans-serif;
}

.body-cv .mid {
    font-weight: 700;
    font-size: 1.2rem;
}

.body-cv-left a {
    text-decoration: none;
}

.body-cv .body-cv-left {
    background-color: #c9d4c9;
    width: 250px;
    padding-bottom: 80px;
}

.wrapper-body-left {
    display: flex;
    text-align: end;
    flex-direction: column;
    gap: 80px;
    padding: 30px 13px 0 30px;
}
.title {
    margin-bottom: 10px;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
}

.top {
    height: 100px;
}

.center {
    height: 250px;
}

.bottom {
    height: 100px;
}

.body-cv .body-cv-right {
    background-color: white;
}

.wrap-body-right {
    padding: 30px 30px 0 13px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.wrap-body-right li::before {
    content: "• ";
    /* font-size: 2rem; */
}
.body-cv .paragraph {
    font-size: 1.2rem;
    font-weight: 400;
}

/* pricing-flex */

.wrapper-pricing {
    background: linear-gradient(to bottom, #f1eaea, #f1e8e8);
    height: 100vh;
    padding: 80px;
    font-size: 1.4rem;
}

.container-pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    max-width: 1300px;
    background-color: white;
    height: 800px;
}

.header-pricing .monthly {
    background-color: #f7f7f7;
    padding: 6px 8px;
    border-radius: 8px;
}

.header-pricing button {
    border: none;
    cursor: pointer;
    padding: 7px 20px;
    background-color: #b3aaaa;
    transition: linear 0.3s;
    transition-property: background-color, color;
}

.header-pricing .monthly button:first-child {
    background-color: transparent;
    border-radius: 6px;
    font-weight: 600;
}

.header-pricing .btn-save {
    font-weight: 800;
    background-color: white;
    border-radius: 6px;
}

.btn-save span {
    color: #4a9f63;
}

.header-pricing .monthly button:hover {
    background-color: #b3aaaa;
    color: white;
}

/* body pricing */
.body-pricing {
    display: flex;
    gap: 20px;
    justify-content: center;
    max-width: 1000px;
    /* min-height: 400px; */
    margin-top: 40px;
    cursor: pointer;
}

.body-pricing .package {
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: #f7f7f7;
}

.body-pricing .package:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.body-pricing .package:nth-child(2) .price-sale .discount {
    font-size: 1.8rem;
    font-weight: 400;
    text-decoration: line-through;
    margin-left: 8px;
    color: #707070;
}
.body-pricing .package:nth-child(2) {
    position: relative;
    outline: 2px solid orange;
}
.body-pricing .package:nth-child(2) .popular {
    position: absolute;
    color: orange;
    font-size: 1.5rem;
    font-weight: 700;
    border: 1px solid orange;
    border-radius: 25px;
    padding: 5px 15px;
    top: -16px;
    left: 88px;
    background: #ffecbe;
}

.package .head-body {
    display: flex;
    flex-direction: column;
}
.package span {
    font-size: 2.2rem;
    font-weight: 700;
}

.package span:first-child {
    margin-bottom: 10px;
}

.head-body p:first-of-type,
.head-body p:nth-of-type(2) {
    margin-bottom: 18px;
}

.head-body .detail {
    color: #707070;
}

.package .btn-package {
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
    transition: color linear 0.3s, background-color linear 0.3s;
}

.package .btn-package:hover {
    background-color: #4a9f63;
    color: white;
}

.package .price::before {
    content: "$";
    font-size: 1.4rem;
}

.package li::before {
    content: "✔ ";
    color: #4a9f63;
    font-size: 1.8rem;
    margin-right: 5px;
}

/* product - list */

.wrapper-product {
    display: flex;

    justify-content: center;
}

.container-product {
    --columns: 4;
    --spacing: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1300px;
    margin-left: calc(-1 * var(--spacing));
}

.product-items {
    display: flex;
    flex-direction: column;
    width: calc((100% / var(--columns)) - var(--spacing));
    /* height: 420px; */
    margin-left: var(--spacing);
    margin-top: var(--spacing);
    padding: 10px 0;
    border-radius: 10px;
    outline: 1px solid #ccc;
    background-color: white;
}

.product-items:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.product-items .img-product {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}

.info-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    justify-content: space-around;
    text-transform: uppercase;
}

.info-product .title-product {
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 500;
    color: #424442;
}

.info-product .config span {
    background-color: #f2f4f7;
    padding: 1px 6px;
}

.price-product {
    /* margin-top: 10px; */
    font-size: 1.9rem;
    font-weight: 700;
    color: #dd2f2c;
}

.price-product::after {
    content: "₫";
    font-size: 1.3rem;
    vertical-align: super;
}

.btn-buy-product a {
    display: inline-block;
    text-align: center;
    font-weight: 700;
    border: 1.5px solid #9fad1a;
    border-radius: 5px;
    text-decoration: none;
    min-width: 70px;
    padding: 5px 10px;
    background-color: #eeec81;
}

.btn-buy-product a:hover {
    color: white;
    background-color: #c3d422;
}

/*----------------------register--------------------- */

.wrapper-register {
    background: linear-gradient(to right, #ec7e99, #fbdd65);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-register {
    display: flex;
    min-width: 750px;
}

.register-left .img-register {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: url(../img/img-regester.jpg) no-repeat center left / cover
        content-box;
    width: 300px;
    padding: 40px 0;
    height: 500px;
}

.register-left {
    color: white;
}

.register-left h1 {
    font-size: 2.6rem;
    font-weight: 600;
    margin-top: 40px;
}

.register-left strong::after {
    content: "";
    margin: 10px 0;
    display: block;
    border-bottom: 0.8px solid white;
}

.register-right {
    flex: 1;
    background: rgb(243, 241, 241);
    border: 1px solid #ddd7d7;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 5px;
    padding: 30px 40px;
}

.register-right .form-group {
    display: flex;
    flex-direction: column;
}

.register-right .form-label {
    text-transform: uppercase;
    font-weight: 500;
    padding: 25px 0 5px 0;
}

.register-right .form-group input {
    width: 100%;
    padding: 6px 8px;
    outline: none;
    border: none;
    border-bottom: 1px solid #a8a7a7;
    color: #240303;
    font-weight: 500;
    background-color: inherit;
}

.register-right .btn-register {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.register-right .btn-register .btn {
    background-color: #4b74e4;
    min-width: 130px;
    padding: 5px 20px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid blue;
    border-radius: 3px;
}

.register-right .btn-register .btn:hover {
    background-color: #2355df;
}


/* -------------frogyy-------------- */


.froggy{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.froggy img{
    max-width: 1100px;
}

.froggy figcaption{
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}